defaults:
  - training_config

  - base@data: data
  - base@model: model
  - base@training: training

  - finetune@eval: eval
  - finetune@data: data
  - finetune@model: model
  - finetune@training: training
  - finetune@transforms.train: train_transforms
  - finetune@transforms.val: val_transforms
  - finetune@metrics: metrics

hydra:
  run:
    dir: ./experiments/${training.type}/${now:%Y-%m-%d_%H_%M_%S}