defaults:
  - config_schema
  - data: stl10_unsupervised
  - model: vit_small_simmim
  - training: simmim_training
  - transforms@transforms.train: vanilla_train
  - transforms@transforms.val: vanilla_val
  - metrics: simmim_metrics

hydra:
  run:
    dir: ./experiments/${training.type}/${now:%Y-%m-%d_%H_%M_%S}