defaults:
  - training_config

  - base@data: data
  - base@model: model
  - base@training: training

  - supervised@eval: eval
  - supervised@data: data
  - supervised@model: model
  - supervised@training: training
  - supervised@transforms.train: train_transforms
  - supervised@transforms.val: val_transforms
  - supervised@metrics: metrics

hydra:
  run:
    dir: ./experiments/${training.type}/${now:%Y-%m-%d_%H_%M_%S}